/* .box {
  width: 500px;
  height: 500px;
  border: 1px solid black;
} */

.dvor {
  display: flex;
  align-items: flex-end;
  /* background-image: url(./image/pngegg\ \(1\).png); */
}
.images {
  margin-top: 100px;
}
.home {
  /* height: 700px; */
  /* background-color: grey;     */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.roof {
  border-bottom: 30px solid #1a0d00;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  width: 230px;
  /* z-index: 2; */
  /* position: absolute; */
  /* left: 30px;
  top: 15px; */
}
.block {
  margin-left: 10px;
  width: 200px;
  height: 40px;
  background-color: rgb(163, 157, 157);
  border-radius: 5px;
  border: 1px solid black;
}
.block h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 10px; */
}
.fundament {
  width: 400px;
  height: 60px;
  border: 3px solid black;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}

.parent{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}
.box {
  width: 250px;
  height: 250px;
  background-color: green;
}

